{% load flatpages %}
{% load url %}
{% load cache %}
{% load static %}

{% cache 0 bar-grandchallenge-partials-footer %}
    {% get_flatpages as flatpages %}
    <footer class="footer">
        <div class="container">
            <div class="row small border-top">
                <div class="col-sm-6 col-md-3 pt-3">
                    <h6 class="text-uppercase text-primary mb-2">Grand Challenge</h6>
                    <ul class="list-unstyled ml-1">
                        {% for page in flatpages %}
                            <li>
                                {# Manual construction of url is used here due to flatpage redirect errors #}
                                <a class="text-secondary"
                                        {# @formatter:off #}
                                   href="{{ request.scheme }}://{{ request.site.domain }}{{ page.url }}">
                                        {# @formatter:on #}
                                    {{ page.title }}
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a class="text-secondary"
                               href="{% url 'statistics:detail' %}">
                                Statistics
                            </a>
                        </li>
                        <li>
                            <a class="text-secondary"
                               href="https://diagnijmegen.github.io/rse-grand-challenge-status/"
                               target="_blank">
                                Status
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 pt-3">
                    <h6 class="text-uppercase text-primary mb-2">Policies</h6>
                    <ul class="list-unstyled ml-1">
                        {% for policy in policy_pages %}
                            <li>
                                <a class="text-secondary"
                                    href="{{ policy.get_absolute_url }}">
                                        {{ policy.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 pt-3">
                    <h6 class="text-uppercase text-primary mb-1">Follow Us</h6>
                    <ul class="d-flex list-unstyled ml-1 mb-2">
                        <li class="mt-2">
                            <a class="text-secondary"
                                style="font-size: 1.5rem;"
                                href="https://www.linkedin.com/company/grand-challenge/"
                                title="Follow us on LinkedIn">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a class="mx-2 text-secondary"
                                style="font-size: 1.5rem;"
                                href="https://github.com/DIAGNijmegen/rse-grand-challenge/"
                                title="Join us on GitHub">
                                <i class="fab fa-github fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                     <p class="small text-secondary ml-1 mb-0">
                        Release notes and announcements.
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 pt-3">
                    <h6 class="text-uppercase text-primary mb-1">Sponsors</h6>
                    <ul class="d-flex list-unstyled ml-2">
                        <li class="text-center">
                           <a href="https://aws.amazon.com/">
                                 <img class="w-25 mx-2"
                                     loading="lazy"
                                     src="{% static 'images/Powered-By_logo-stack_RGB.png' %}"
                                     alt="Logo of Amazon Web Services"
                                     title="Grand Challenge is sponsored by Amazon Web Services"
                                >
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col text-center pt-2">
                    <p class="text-muted small">&copy; 2012&ndash;{% now "Y" %} Radboud university medical center</p>
                </div>
            </div>
        </div>
    </footer>
{% endcache %}
